<h2>name: <%= @dog.name %></h2>
<h2>breed: <%= @dog.breed %></h2>
 <h2>age: <%= @dog.age %></h2>
<h2>list of employees: </h2>
<% @dog.employees.each do |employee| %>
 <%= "#{employee.first_name} #{employee.last_name}" %>
 <%end%>
